@model FW_Food_Health_Modulo2.Models.Domiciliario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Domiciliario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nomb_Domiciliario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomb_Domiciliario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDomiciliario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
