@model IEnumerable<FW_Food_Health_Modulo2.Models.Domiciliario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nomb_Domiciliario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nomb_Domiciliario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDomiciliario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDomiciliario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDomiciliario })
        </td>
    </tr>
}

</table>
