@model IEnumerable<FoodHealth_3.Models.Domiciliario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposEstados.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposEstados.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDomiciliario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDomiciliario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDomiciliario })
        </td>
    </tr>
}

</table>
