@model IEnumerable<Food_Health_Modulo_3__B_4._3_.Models.Orden>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaOrden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaOrden)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOrden }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOrden }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOrden })
        </td>
    </tr>
}

</table>
